<h1>Driven Validado</h1>
<form #peliForm="ngForm" (ngSubmit)="enviarFormulario()" >
    <div class="row">
        <div class="form-group col-4">
            <label for="">Titulo</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="pelicula.titulo" required minlength="5" maxlength="8" #nombre="ngModel"> <!-- se valida con el required -->
            <div [hidden]="nombre.valid || nombre.pristine"  class="alert alert-danger"> <!-- esto es para que se vea el cartel cuando esta invalidado -->
                Debe completar el nombre
            </div>
        </div>
        <div class="form-group col-4">
            <label for="">Director</label>
            <input type="text" class="form-control" name="director" [(ngModel)]="pelicula.director" >
        </div>
        <div class="form-group col-4">
            <label for="">Género</label>
            <select name="genero" id="genero" class="form-control" [(ngModel)]="pelicula.genero">
                <option value="0">Seleccione...</option>
                <option value="1">Terror</option>
                <option value="2">Accion</option>
                <option value="3">Drama</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" type="submit" [disabled]="!peliForm.form.valid">Guardar</button>  <!-- se valida cada formulario y aca se valida tmb todo el formulario entero, puedo deshabilitar el boton hasta que se tengan todos klos requireds -->
    </div>
</form>

<pre>{{ pelicula | json }}</pre>
