    <div class="container">
    <h5 class="card-title titulo">{{titulo}}</h5>
<div *ngIf="pelicula">  
    <!-- este ngIf es para asegurarme que aparezcan este html una vez que lleguen los datos del backend -->
<form #peliculaForm="ngForm" (ngSubmit)="guardarCambios()">
    <div class="row">
    <div class="card col-md-4 col-sm-12 tarjeta" >
        <img [src]="pelicula.foto" class="card-img-top foto" alt="...">
</div>
        <div class="card col-md-8 col-xs-12 tarjeta" >
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
                <input type="text" class="form-control" name="titulo" [(ngModel)]="pelicula.titulo">
            <br>
            <h5 class="card-title">Fotografo</h5>
            <input type="text" class="form-control" name="director" [(ngModel)]="pelicula.director">
            <br>

            <h5 class="card-title">Pais de Origen</h5>
            <select name="genero" id="genero" [(ngModel)]="pelicula.genero" class="form-control">
                <option *ngFor="let genero of generos" value={{genero.descripcion}} >{{genero.descripcion}}</option> 
            </select>
            </div>


        <div class="card-body botones">
            
        <button type="submit" class="btn btn-primary ">Aceptar</button>
        
        <button class="btn btn-danger ml-4" (click)="cancelarEdicion()">Cancelar</button>
        
        </div>
        </div>
    </div>
</form>
</div>