.row{
    width: 100%;
    margin:0%;
}
.test{
    margin-bottom: 1%;
    margin: none;
}

.card-img-top{
    margin-top: 5%;
}

.titulo{
    margin-top:-5%;
}

.cuerpoCarta{
    margin:0;
    padding: -5 !important;
}

.boton{
    margin-left: 55;
}
.Tit{
    text-align: center;
    
    margin-top: 1%;
}
.Instru{
    
    margin-top: 1%;
    margin-bottom: 1%;

}

.instValid{
    position: absolute;
    top:25%;
    width: 100%;
    height: auto;
    text-align: center;
}