<!-- UNA VEZ QUE YA TENEMOS LAS RUTAS, CONFIGURAMOS CADA  el routerLnk y la direccion, NO SE US AHREF -->


<nav class="navbar navbar-expand navbar-dark bg-primary">
    <!-- para hacerlo reactivo agregar -lg luego de navbar-expand -->
    <div class="container-fluid">
        <a class="navbar-brand" href="https://leahrdt.github.io/cv_app/">Home CV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Carrete de Fotos</a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link"  routerLink="/driven/formulario">Formulario Driven</a>
            </li> -->
            <li class="nav-item">
            <a class="nav-link active"  routerLink="/reactive">Formulario Reactivo</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link"  routerLink="/nueva">Alta Foto</a>
                </li> -->
        </ul>
        </div>
    </div>
</nav>